@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

body {
  padding: 10px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 70px;
  color: #0ccac4;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
  cursor: pointer;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 36%;
  right: 0;
  background-color: aliceblue;
  height: 2px;
  width: 360px;
  opacity: 0;
  transition: transform 0.25s;
  transform: scaleX(0);
  
}

h1:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
